<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/vuexy/assets/vendor/css/rtl/core.css"/>
    <link rel="stylesheet" href="/vuexy/assets/vendor/css/rtl/theme-default.css"/>
    <link rel="stylesheet" href="/vuexy/assets/vendor/fonts/tabler-icons.css">
    <script src="/vuexy/assets/vendor/js/helpers.js"></script>
    <script src="/vuexy/assets/js/config.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0/dist/quill.snow.css" rel="stylesheet"/>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">

    <!-- Layout container -->
    <div class="layout-container">

        <!-- Menu -->
        <div th:insert="~{block/sidebar :: sidebar}"></div>
        <!--/ Menu -->

        <!-- Layout page -->
        <div class="layout-page">

            <!-- Navbar -->
            <div th:insert="~{block/navbar::navbar}"></div>
            <!--/ Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper d-flex justify-content-center align-items-center"
                 style="background-color:#ffffff">

                <div class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
                    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">
                        <!-- Navbar -->
                        <nav class="navbar navbar-expand-xl bg-navbar-theme">
                            <div class="container-fluid">
                                <div class="collapse navbar-collapse">
                                    <div class="navbar-nav me-auto">
                                        <span style="font-size: 20px">Редагування Новобудівлі</span>
                                    </div>
                                    <div>
                                        <span style="font-weight: bold;">Головна</span>
                                        <span>|</span>
                                        <span style="font-weight: bold;">Новобудівлі</span>
                                        <span>|</span>
                                        <span style="color: gray; pointer-events: none">Додавання нової новобудівлі</span>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <!--/ Navbar -->

                        <div class="col-12" style="display: flex;justify-content: center;align-items: center;">
                            <div class="card mb-4 mt-2" style="width: 100%; height: 100%;">
                                <div class="card-header pt-2">
                                    <ul class="nav nav-tabs nav-fill" role="tablist">
                                        <li class="nav-item">
                                            <button type="button" class="nav-link active"
                                                    data-bs-toggle="tab"
                                                    data-bs-target="#navs-top-main">
                                                Основне
                                            </button>
                                        </li>
                                        <li class="nav-item">
                                            <button type="button" class="nav-link"
                                                    data-bs-toggle="tab"
                                                    data-bs-target="#navs-top-about">
                                                Про проект
                                            </button>
                                        </li>
                                        <li class="nav-item">
                                            <button type="button" class="nav-link" data-bs-toggle="tab"
                                                    data-bs-target="#navs-top-destination">
                                                Місце розташування
                                            </button>
                                        </li>
                                        <li class="nav-item">
                                            <button type="button" class="nav-link" data-bs-toggle="tab"
                                                    data-bs-target="#navs-top-infrastructure">
                                                Інфраструктура
                                            </button>
                                        </li>
                                        <li class="nav-item">
                                            <button type="button" class="nav-link" data-bs-toggle="tab"
                                                    data-bs-target="#navs-top-apartment">
                                                Квартири
                                            </button>
                                        </li>
                                        <li class="nav-item">
                                            <button type="button" class="nav-link" data-bs-toggle="tab"
                                                    data-bs-target="#navs-top-panorama">
                                                Панорама
                                            </button>
                                        </li>
                                        <li class="nav-item">
                                            <button type="button" class="nav-link" data-bs-toggle="tab"
                                                    data-bs-target="#navs-top-specifications">
                                                Специфікації
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body" style="width: auto;height: auto;">
                                    <form th:method="post" th:object="${project}" enctype="multipart/form-data">
                                        <div class="tab-content">
                                            <!-- main section -->
                                            <div class="tab-pane fade show active" id="navs-top-main" role="tabpanel">
                                                <div class="row">
                                                    <label class="form-label" style="font-size: 18px">Головний
                                                        банер</label>
                                                    <div class="col-6">
                                                        <img th:if="${project.banner!=null}"
                                                             th:src="${project.linkBanner()}"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailMain">
                                                        <img th:unless="${project.banner!=null}"
                                                             src="https://www.goethe.de/prj/dlp/assets/images/default.png"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailMain">
                                                        <label class="form-label" style="font-size: 16px"><b>Рекомендований
                                                            розмір:
                                                            (1920x800) </b></label>
                                                        <input class="form-control" type="file" name="bannerMF"
                                                               id="imageMain"
                                                               style="width: auto;">
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row mb-3">
                                                            <div class="col-md-4">
                                                                <label class="form-label">Назва</label>
                                                                <input th:field="*{name}" type="text"
                                                                       class="form-control" placeholder="Назва">
                                                                <!--                                                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"-->
                                                                <!--                                                     style="color: red"></div>-->
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label class="form-label">Порядок сортування</label>
                                                                <input th:field="*{indexNum}" type="text"
                                                                       class="form-control"
                                                                       placeholder="Порядок сортування">
                                                                <div th:if="${errorIndexNum}" style="color: red"
                                                                     th:text="${errorIndexNum}"></div>
                                                                <!--                                                <div th:if="${#fields.hasErrors('priceSquareMeter')}"-->
                                                                <!--                                                     th:errors="*{priceSquareMeter}"-->
                                                                <!--                                                     style="color: red"></div>-->
                                                            </div>
                                                            <div class="col-md-4"
                                                                 style="align-items: end;display: flex;">
                                                                <div class="form-check form-check-inline mt-3">
                                                                    <input class="form-check-input" type="checkbox"
                                                                           th:field="*{active}"/>
                                                                    <label class="form-check-label">Активний</label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div>
                                                            <label class="form-label">Адреса</label>
                                                            <input th:field="*{address}" type="text"
                                                                   class="form-control" placeholder="Адреса">
                                                            <!--                                                <div th:if="${#fields.hasErrors('rooms')}" th:errors="*{rooms}"-->
                                                            <!--                                                     style="color: red"></div>-->
                                                        </div>
                                                    </div>
                                                </div>

                                                <div th:each="i : ${#numbers.sequence(0,3)}" class="row mt-3">
                                                    <div class="input-group col-6" style="width: 389px;">
                                                        <input th:field="${project.infographicsMain[__${i}__].multipartFile}"
                                                               type="file" class="form-control">
                                                        <label class="input-group-text">
                                                            <i class="ti ti-file-upload"></i>
                                                        </label>
                                                    </div>

                                                    <div class="col-4" style="width: 300px;">
                                                        <input th:field="${project.infographicsMain[__${i}__].description}"
                                                               type="text" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="d-flex justify-content-end">
                                                    <a th:href="@{/projects}" type="submit" class="btn btn-github m-2">Відміна</a>
                                                    <button type="submit" class="btn btn-success m-2">Оновити
                                                    </button>
                                                </div>
                                            </div>
                                            <!--/ main section -->

                                            <!-- about section -->
                                            <div class="tab-pane fade" id="navs-top-about" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div>
                                                            <label class="form-label" style="font-size: 18px">Слайд
                                                                1</label>
                                                        </div>
                                                        <img th:if="${project.getImagesAboutDTO().getLinkImage1()!=null}"
                                                             th:src="${project.linkImagesAbout(0)}"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailAbout0">
                                                        <img th:unless="${project.getImagesAboutDTO().getLinkImage1()!=null}"
                                                             src="https://www.goethe.de/prj/dlp/assets/images/default.png"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailAbout0">
                                                        <label class="form-label" style="font-size: 16px"><b>Рекомендований
                                                            розмір:
                                                            (1920x800) </b></label>
                                                        <input class="form-control" type="file" name="imagesAbout"
                                                               style="width: auto;">
                                                    </div>
                                                    <div class="col-4">
                                                        <div>
                                                            <label class="form-label" style="font-size: 18px">Слайд
                                                                2</label>
                                                        </div>
                                                        <img th:if="${project.getImagesAboutDTO().getLinkImage2()!=null}"
                                                             th:src="${project.linkImagesAbout(1)}"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailAbout1">
                                                        <img th:unless="${project.getImagesAboutDTO().getLinkImage2()!=null}"
                                                             src="https://www.goethe.de/prj/dlp/assets/images/default.png"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailAbout1">
                                                        <label class="form-label" style="font-size: 16px"><b>Рекомендований
                                                            розмір:
                                                            (1920x800) </b></label>
                                                        <input class="form-control" type="file" name="imagesAbout"
                                                               style="width: auto;">
                                                    </div>
                                                    <div class="col-4">
                                                        <div>
                                                            <label class="form-label" style="font-size: 18px">Слайд
                                                                3</label>
                                                        </div>
                                                        <img th:if="${project.getImagesAboutDTO().getLinkImage3()!=null}"
                                                             th:src="${project.linkImagesAbout(2)}"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailAbout2">
                                                        <img th:unless="${project.getImagesAboutDTO().getLinkImage3()}"
                                                             src="https://www.goethe.de/prj/dlp/assets/images/default.png"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailAbout2">
                                                        <label class="form-label" style="font-size: 16px"><b>Рекомендований
                                                            розмір:
                                                            (1920x800) </b></label>
                                                        <input class="form-control" type="file" name="imagesAbout"
                                                               style="width: auto;">
                                                    </div>
                                                </div>

                                                <div class="mt-2 mb-2" style="position: relative;">
                      <textarea th:field="*{descriptionAbout.text}" class="form-control"
                                placeholder="Опис" style="height:250px;">
                      </textarea>
                                                </div>

                                                <div class="d-flex justify-content-end">
                                                    <a th:href="@{/projects}" type="submit"
                                                       class="btn btn-github m-2">Відміна</a>
                                                    <button type="submit" class="btn btn-success m-2">Оновити
                                                    </button>
                                                </div>
                                            </div>
                                            <!--/ about section -->

                                            <!-- destination section -->
                                            <div class="tab-pane fade" id="navs-top-destination" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <label class="form-label" style="font-weight: bold;">
                                                            Довжина
                                                        </label>
                                                        <input class="form-control" type="text" th:field="*{length}"
                                                               placeholder="Координати">
                                                    </div>
                                                    <div class="col-4">
                                                        <label class="form-label" style="font-weight: bold;">
                                                            Ширина
                                                        </label>
                                                        <input class="form-control" type="text" th:field="*{width}"
                                                               placeholder="Координати">
                                                    </div>
                                                </div>

                                                <div class="mt-2 mb-2">
                                                <textarea
                                                        th:field="*{descriptionDestination.text}" class="form-control"
                                                        placeholder="Опис" style="height:250px;">
                                                </textarea>
                                                </div>
                                                <iframe th:src="@{'https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d43825.86886054671!2d' + ${project.getLength()} + '!3d' + ${project.getWidth()} + '!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNTDCsDI2JzM0LjMiTiAzMMKwMjknMzUuMCJF!5e0!3m2!1suk!2sua!4v1679604811208!5m2!1suk!2sua&'}"
                                                        width="100%" height="350px" style="border:0;" allowfullscreen=""
                                                        loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                                                </iframe>
                                                <div class="d-flex justify-content-end">
                                                    <a th:href="@{/projects}" type="submit"
                                                       class="btn btn-github m-2">Відміна</a>
                                                    <button type="submit" class="btn btn-success m-2">Оновити
                                                    </button>
                                                </div>
                                            </div>
                                            <!--/ destination section -->

                                            <!-- infrastructure section -->
                                            <div class="tab-pane fade" id="navs-top-infrastructure" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div>
                                                            <label class="form-label" style="font-size: 18px">Слайд
                                                                1</label>
                                                        </div>
                                                        <img th:if="${project.getImagesInfrastructureDTO().getLinkImage1()!=null}"
                                                             th:src="${project.linkImagesInfrastructure(0)}"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailInfrastructure0">
                                                        <img th:unless="${project.getImagesInfrastructureDTO().getLinkImage1()!=null}"
                                                             src="https://www.goethe.de/prj/dlp/assets/images/default.png"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailInfrastructure0">
                                                        <label class="form-label" style="font-size: 16px"><b>Рекомендований
                                                            розмір:
                                                            (1920x800) </b></label>
                                                        <input class="form-control" type="file"
                                                               name="imagesInfrastructure"
                                                               style="width: auto;">
                                                    </div>
                                                    <div class="col-4">
                                                        <div>
                                                            <label class="form-label" style="font-size: 18px">Слайд
                                                                2</label>
                                                        </div>
                                                        <img th:if="${project.getImagesInfrastructureDTO().getLinkImage2()!=null}"
                                                             th:src="${project.linkImagesInfrastructure(1)}"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailInfrastructure1">
                                                        <img th:unless="${project.getImagesInfrastructureDTO().getLinkImage2()!=null}"
                                                             src="https://www.goethe.de/prj/dlp/assets/images/default.png"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailInfrastructure1">
                                                        <label class="form-label" style="font-size: 16px"><b>Рекомендований
                                                            розмір:
                                                            (1920x800) </b></label>
                                                        <input class="form-control" type="file"
                                                               name="imagesInfrastructure"
                                                               style="width: auto;">
                                                    </div>
                                                    <div class="col-4">
                                                        <div>
                                                            <label class="form-label" style="font-size: 18px">Слайд
                                                                3</label>
                                                        </div>
                                                        <img th:if="${project.getImagesInfrastructureDTO().getLinkImage3()!=null}"
                                                             th:src="${project.linkImagesInfrastructure(2)}"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailInfrastructure2">
                                                        <img th:unless="${project.getImagesInfrastructureDTO().getLinkImage3()!=null}"
                                                             src="https://www.goethe.de/prj/dlp/assets/images/default.png"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailInfrastructure2">
                                                        <label class="form-label" style="font-size: 16px"><b>Рекомендований
                                                            розмір:
                                                            (1920x800) </b></label>
                                                        <input class="form-control" type="file"
                                                               name="imagesInfrastructure"
                                                               style="width: auto;">
                                                    </div>
                                                </div>

                                                <div class="mt-2 mb-2" style="position: relative;">
                                                    <textarea th:field="*{descriptionInfrastructure.text}"
                                                              class="form-control"
                                                              placeholder="Опис" style="height:250px;">
                                                    </textarea>
                                                </div>
                                                <div th:each="i : ${#numbers.sequence(0,3)}" class="row mt-3">
                                                    <div class="input-group col-6" style="width: 389px;">
                                                        <input th:field="${project.infographicsInfrastructure[__${i}__].multipartFile}"
                                                               type="file" class="form-control">
                                                        <label class="input-group-text">
                                                            <i class="ti ti-file-upload"></i>
                                                        </label>
                                                    </div>

                                                    <div class="col-4" style="width: 300px;">
                                                        <input th:field="${project.infographicsInfrastructure[__${i}__].description}"
                                                               type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <a th:href="@{/projects}" type="submit"
                                                       class="btn btn-github m-2">Відміна</a>
                                                    <button type="submit" class="btn btn-success m-2">Оновити
                                                    </button>
                                                </div>
                                            </div>
                                            <!--/ infrastructure section -->

                                            <!-- apartment section -->
                                            <div class="tab-pane fade" id="navs-top-apartment" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div>
                                                            <label class="form-label" style="font-size: 18px">Слайд
                                                                1</label>
                                                        </div>
                                                        <img th:if="${project.getImagesApartmentDTO().getLinkImage1()!=null}"
                                                             th:src="${project.linkImagesApartment(0)}"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailApartment0">
                                                        <img th:unless="${project.getImagesApartmentDTO().getLinkImage1()!=null}"
                                                             src="https://www.goethe.de/prj/dlp/assets/images/default.png"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailApartment0">
                                                        <label class="form-label" style="font-size: 16px"><b>Рекомендований
                                                            розмір:
                                                            (1920x800) </b></label>
                                                        <input class="form-control" type="file"
                                                               name="imagesApartment"
                                                               style="width: auto;">
                                                    </div>
                                                    <div class="col-4">
                                                        <div>
                                                            <label class="form-label" style="font-size: 18px">Слайд
                                                                2</label>
                                                        </div>
                                                        <img th:if="${project.getImagesApartmentDTO().getLinkImage2()!=null}"
                                                             th:src="${project.linkImagesApartment(1)}"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailApartment1">
                                                        <img th:unless="${project.getImagesApartmentDTO().getLinkImage2()!=null}"
                                                             src="https://www.goethe.de/prj/dlp/assets/images/default.png"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailApartment1">
                                                        <label class="form-label" style="font-size: 16px"><b>Рекомендований
                                                            розмір:
                                                            (1920x800) </b></label>
                                                        <input class="form-control" type="file"
                                                               name="imagesApartment"
                                                               style="width: auto;">
                                                    </div>
                                                    <div class="col-4">
                                                        <div>
                                                            <label class="form-label" style="font-size: 18px">Слайд
                                                                3</label>
                                                        </div>
                                                        <img th:if="${project.getImagesApartmentDTO().getLinkImage3()!=null}"
                                                             th:src="${project.linkImagesApartment(2)}"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailApartment2">
                                                        <img th:unless="${project.getImagesApartmentDTO().getLinkImage3()!=null}"
                                                             src="https://www.goethe.de/prj/dlp/assets/images/default.png"
                                                             class="border mb-2"
                                                             style="width: 300px;height: 150px;" alt="error"
                                                             id="thumbnailApartment2">
                                                        <label class="form-label" style="font-size: 16px"><b>Рекомендований
                                                            розмір:
                                                            (1920x800) </b></label>
                                                        <input class="form-control" type="file"
                                                               name="imagesApartment"
                                                               style="width: auto;">
                                                    </div>
                                                </div>

                                                <div class="mt-2 mb-2" style="position: relative;">
                                                    <textarea th:field="*{descriptionApartment.text}"
                                                              class="form-control"
                                                              placeholder="Опис" style="height:250px;">
                                                    </textarea>
                                                </div>
                                                <div th:each="i : ${#numbers.sequence(0,3)}" class="row mt-3">
                                                    <div class="input-group col-6" style="width: 389px;">
                                                        <input th:field="${project.infographicsApartment[__${i}__].multipartFile}"
                                                               type="file" class="form-control">
                                                        <label class="input-group-text">
                                                            <i class="ti ti-file-upload"></i>
                                                        </label>
                                                    </div>

                                                    <div class="col-4" style="width: 300px;">
                                                        <input th:field="${project.infographicsApartment[__${i}__].description}"
                                                               type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <a th:href="@{/projects}" type="submit"
                                                       class="btn btn-github m-2">Відміна</a>
                                                    <button type="submit" class="btn btn-success m-2">Оновити
                                                    </button>
                                                </div>
                                            </div>
                                            <!--/ apartment section -->

                                            <!-- panorama section -->
                                            <div class="tab-pane fade" id="navs-top-panorama" role="tabpanel">
                                                <div>
                                                    <label class="form-label"
                                                           style="font-size: 18px">Панорама</label>
                                                </div>
                                                <div>
                                                    <div>
                                                        <img th:if="${project.getPanorama!=null}"
                                                             th:src="${project.linkPanorama()}"
                                                             class="border mb-2"
                                                             style="width: 1100px;height: 300px;" alt="error"
                                                             th:id="thumbnailPanorama">
                                                        <img th:unless="${project.getPanorama!=null}"
                                                             src="https://www.goethe.de/prj/dlp/assets/images/default.png"
                                                             class="border mb-2"
                                                             style="width: 1100px;height: 300px;" alt="error"
                                                             id="thumbnailPanorama">

                                                    </div>
                                                    <br>
                                                    <label class="form-label" style="font-size: 16px">
                                                        <b>Рекомендований розмір: (1920x800)</b></label>
                                                    <input class="form-control" type="file"
                                                           name="panoramaMF" id="imagePanorama"
                                                           style="width: auto;">
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <a th:href="@{/projects}" type="submit"
                                                       class="btn btn-github m-2">Відміна</a>
                                                    <button type="submit" class="btn btn-success m-2">Оновити
                                                    </button>
                                                </div>
                                            </div>
                                            <!--/ panorama section -->

                                            <!-- specifications section -->
                                            <div class="tab-pane fade" id="navs-top-specifications" role="tabpanel">
                                                <div th:each="i:${#numbers.sequence(0,3)}" class="row">
                                                    <div class="col-10" style="width: 600px;margin-bottom: 80px;">
                                                        <label class="form-label" style="font-size: 18px;"
                                                               th:text="'Cлайд '+__${i+1}__"><b></b></label>
                                                        <div style="height: 200px;">
                                                            <div th:id="${'edit'+__${i}__}" style="height: auto"></div>
                                                            <textarea rows="3" class="mb-3 d-none"
                                                                      th:field="*{textSpecifications[__${i}__].miniText}"
                                                                      th:id="'quill-editor-area-'+__${i}__"
                                                            th:attr="data-initial-text=*{textSpecifications[__${i}__].miniText}"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="d-flex justify-content-end">
                                                    <a th:href="@{/projects}" type="submit"
                                                       class="btn btn-github m-2">Відміна</a>
                                                    <button type="submit" class="btn btn-success m-2" id="submitForm">
                                                        Оновити
                                                    </button>
                                                </div>
                                            </div>
                                            <!--/ specifications section -->
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Content wrapper -->
        </div>
        <!--/ Layout page -->
    </div>
    <!--/ Layout container -->

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!--/ Layout wrapper -->

<script src="/vuexy/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/vuexy/assets/vendor/js/menu.js"></script>
<script src="/vuexy/assets/js/main.js"></script>
<script src="/vuexy/assets/vendor/libs/quill/quill.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    const toolbarOptions = [
        [{'font': []}],
        ['bold', 'italic', 'underline'],
        [{'list': 'bullet'}, {'list': 'ordered'}],
        [{'indent': '-1'}, {'indent': '+1'}],
        ['clean']
    ];

    createEditor(0);
    createEditor(1);
    createEditor(2);
    createEditor(3);

    function createEditor(index) {
        document.addEventListener('DOMContentLoaded', function () {
            const quillEditorArea = document.getElementById('quill-editor-area-'+index);
            const initialText = quillEditorArea.getAttribute('data-initial-text');

            if (quillEditorArea) {
                const editor = new Quill('#edit' + index, {
                    modules: {
                        toolbar: toolbarOptions
                    },
                    theme: 'snow'
                });

                editor.root.innerHTML = initialText; // Встановлення початкового тексту у редактор

                editor.on('text-change', function () {
                    quillEditorArea.value = editor.root.innerHTML;
                });

                quillEditorArea.addEventListener('input', function () {
                    editor.root.innerHTML = quillEditorArea.value;
                });
            }
        });
    };
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("input[name='imagesAbout']").each(function (index) {
            $(this).change(function () {
                showImagesAbout(this, index);
            });
        });

        function showImagesAbout(fileInput, index) {
            file = fileInput.files[0];
            reader = new FileReader();

            reader.onload = function (e) {
                $('#thumbnailAbout' + index).attr('src', e.target.result);
            };

            reader.readAsDataURL(file);
        };
    });

    $(document).ready(function () {
        $("input[name='imagesInfrastructure']").each(function (index) {
            $(this).change(function () {
                showImagesInfrastructure(this, index);
            });
        });

        function showImagesInfrastructure(fileInput, index) {
            file = fileInput.files[0];
            reader = new FileReader();
            reader.onload = function (e) {
                $('#thumbnailInfrastructure' + index).attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        };
    });
    $(document).ready(function () {
        $("input[name='imagesApartment']").each(function (index) {
            $(this).change(function () {
                showImagesInfrastructure(this, index);
            });
        });

        function showImagesInfrastructure(fileInput, index) {
            file = fileInput.files[0];
            reader = new FileReader();
            reader.onload = function (e) {
                $('#thumbnailApartment' + index).attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        };
    });
</script>
<script>
    $('#imageMain').change(function () {
        showImageThumbnailMain(this);
    });

    function showImageThumbnailMain(fileInput) {
        file = fileInput.files[0];
        reader = new FileReader();
        reader.onload = function (e) {
            $('#thumbnailMain').attr('src', e.target.result);
        };
        reader.readAsDataURL(file);
    };

    $('#imagePanorama').change(function () {
        showImageThumbnailPanorama(this);
    });

    function showImageThumbnailPanorama(fileInput) {
        file = fileInput.files[0];
        reader = new FileReader();
        reader.onload = function (e) {
            $('#thumbnailPanorama').attr('src', e.target.result);
        };
        reader.readAsDataURL(file);
    };
</script>
</body>
</html>