<div th:fragment="sidebar">
    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme"
           style="display: flex;flex-direction: column;height: 100%;">
        <div style="display: flex;justify-content: center;align-items: center;">
            <div class="avatar avatar-lg" style=" cursor: default;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyxfJwz_xR8VNthmEc38VdpZO3Reu3yJg4IKJyHAuY6Q&s" alt="Avatar" class="rounded-circle">
            </div>
        </div>

        <ul class="menu-inner py-1 ps ps--active-y">
            <li class="menu-item">
                <a href="/requests" class="menu-link">
                    <i class="menu-icon ti ti-mail"></i>
                    <div>Заявки</div>
                    <div class="badge bg-label-primary rounded-pill ms-auto"
                    th:text="${countRequests}" th:if="${countRequests!=0}"></div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/objects" class="menu-link">
                    <i class="menu-icon ti ti-home"></i>
                    <div>Об'єкти</div>
                    <div class="badge bg-label-warning rounded-pill ms-auto"
                         th:text="${countObjects}" th:if="${countrObjects!=0}"></div>
                </a>
            </li>
            <li class="menu-item">
                <a href="app-calendar.html" class="menu-link">
                    <i class="menu-icon ti ti-building-skyscraper"></i>
                    <div>Новобудівлі</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/service" class="menu-link">
                    <i class="menu-icon ti ti-heart-handshake"></i>
                    <div>Послуги</div>
                </a>
            </li>
            <!-- Dashboards -->
            <li class="menu-item active">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon ti ti-settings"></i>
                    <div>Настройки</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="index.html" class="menu-link">
                            <div>Основне</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="dashboards-crm.html" class="menu-link">
                            <div>Про проект</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="dashboards-ecommerce.html" class="menu-link">
                            <div>Місце розташування</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="dashboards-ecommerce.html" class="menu-link">
                            <div>Інфраструктура</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="dashboards-ecommerce.html" class="menu-link">
                            <div>Квартири</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="dashboards-ecommerce.html" class="menu-link">
                            <div>Панорама</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="dashboards-ecommerce.html" class="menu-link">
                            <div>Специфікація</div>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu-item">
                <a href="app-calendar.html" class="menu-link">
                    <div>- Контакти</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="app-calendar.html" class="menu-link">
                    <div>- Привязка об'єктів</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="app-calendar.html" class="menu-link">
                    <div>- Вторинний ринок</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="app-calendar.html" class="menu-link">
                    <div>- Послуги</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="app-calendar.html" class="menu-link">
                    <div>- Про компанію</div>
                </a>
            </li>
        </ul>
    </aside>
</div>