<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/vuexy/assets/vendor/css/rtl/core.css"/>
    <link rel="stylesheet" href="/vuexy/assets/vendor/css/rtl/theme-default.css"/>
    <link rel="stylesheet" href="/vuexy/assets/vendor/fonts/tabler-icons.css">
    <script src="/vuexy/assets/vendor/js/helpers.js"></script>
    <script src="/vuexy/assets/js/config.js"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">

    <!-- Layout container -->
    <div class="layout-container">

        <!-- Menu -->
        <div th:insert="~{block/sidebar :: sidebar}"></div>
        <!--/ Menu -->

        <!-- Layout page -->
        <div class="layout-page">

            <!-- Navbar -->
            <div th:insert="~{block/navbar::navbar}"></div>
            <!--/ Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper d-flex justify-content-center align-items-center"
                 style="background-color:#ffffff">

                <div class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
                    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">

                        <!-- Navbar -->
                        <nav class="navbar navbar-expand-xl bg-navbar-theme">
                            <div class="container-fluid">
                                <div class="collapse navbar-collapse">
                                    <div class="navbar-nav me-auto">
                                        <span style="font-size: 20px">Налаштування</span>
                                    </div>
                                    <div>
                                        <span style="font-weight: bold;">Головна</span>
                                        <span>|</span>
                                        <span style="color: gray; pointer-events: none">Налаштування</span>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <!--/ Navbar -->

                        <div class="col-12" style="display: flex;justify-content: center;align-items: center;">
                            <div class="card mb-4 mt-2" style="width: 100%; height: 100%;">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h5 class="mb-0">Контакти</h5>
                                </div>
                                <div class="card-body" style="width: auto;height: auto;">
                                    <form th:method="POST" th:object="${contacts}"
                                          enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="row row-cols-3 mb-3">
                                                <div class="col">
                                                    <label class="form-label"
                                                           style="font-size: 16px;font-weight: bold;">Телефон</label>
                                                    <input th:field="*{phone}" type="text"
                                                           class="form-control" placeholder="Введіть номер телефону"
                                                           style="width: 85%;">
                                                </div>
                                                <div class="col">
                                                    <label class="form-label"
                                                           style="font-size: 16px;font-weight: bold;">Viber</label>
                                                    <input th:field="*{viber}" type="text"
                                                           class="form-control" placeholder="Введіть номер Viber"
                                                           style="width: 85%;">
                                                </div>
                                                <div class="col">
                                                    <label class="form-label"
                                                           style="font-size: 16px;font-weight: bold;">Telegram</label>
                                                    <input th:field="*{telegram}" type="text"
                                                           class="form-control" placeholder="Введіть псевдонім   користувача"
                                                           style="width: 85%;">
                                                </div>
                                                <div class="col">
                                                    <label class="form-label"
                                                           style="font-size: 16px;font-weight: bold;">Email</label>
                                                    <input th:field="*{email}" type="text"
                                                           class="form-control" placeholder="Введіть Email"
                                                           style="width: 85%;">
                                                </div>
                                                <div class="col">
                                                    <label class="form-label"
                                                           style="font-size: 16px;font-weight: bold;">Instagram</label>
                                                    <input th:field="*{instagram}" type="text"
                                                           class="form-control" placeholder="Введіть псевдонім користувача"
                                                           style="width: 85%;">
                                                </div>
                                                <div class="col">
                                                    <label class="form-label"
                                                           style="font-size: 16px;font-weight: bold;">Facebook</label>
                                                    <input th:field="*{facebook}" type="text"
                                                           class="form-control" placeholder="Введіть псевдонім користувача"
                                                           style="width: 85%;">
                                                </div>
                                                <div class="col">
                                                    <label class="form-label"
                                                           style="font-size: 16px;font-weight: bold;">Адрес</label>
                                                    <input th:field="*{address}" type="text"
                                                           class="form-control"
                                                           placeholder="Введіть адресу: країна,регіон,м/c,вулиця"
                                                           style="width: 85%;">
                                                </div>
                                                <div class="col">
                                                    <label class="form-label"
                                                           style="font-size: 16px;font-weight: bold;">Довжина</label>
                                                    <input  th:field="*{length}"
                                                            type="text"
                                                            class="form-control"
                                                            placeholder="Введіть координати"
                                                            style="width: 85%;">
                                                </div>
                                                <div class="col">
                                                    <label class="form-label"
                                                           style="font-size: 16px;font-weight: bold;">Ширина</label>
                                                    <input  th:field="*{width}"
                                                            type="text"
                                                            class="form-control"
                                                            placeholder="Введіть координати"
                                                            style="width: 85%;">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-5">
                                                    <h5>Пошти для отримання заявок</h5>
                                                    <div th:each="i:${#numbers.sequence(0,1)}">
                                                        <label class="form-label"
                                                               style="font-size: 16px;font-weight: bold;">Email</label>
                                                        <input class="form-control"
                                                               th:field="${contacts.emails[__${i}__].email}"
                                                               type="text" placeholder="Введіть пошту"
                                                               style="width: 200px;">
                                                    </div>
                                                </div>
                                                <div class="col-7">
                                                    <h5>Зміна паролю</h5>
                                                    <div>
                                                        <label class="form-label"
                                                               style="font-size: 16px;font-weight: bold;">Дійсний
                                                            пароль</label>
                                                        <input type="password" class="form-control" placeholder=""
                                                               style="width: 200px;" name="password">
                                                        <div class="alert alert-danger mt-2" role="alert"
                                                             style="width: 300px"
                                                             th:if="${errorCurrentPassword}"
                                                             th:text="${errorCurrentPassword}">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label class="form-label"
                                                                   style="font-size: 16px;font-weight: bold;">Новий
                                                                пароль</label>
                                                            <input type="password" class="form-control" placeholder=""
                                                                   style="width: 200px;" name="newPassword">
                                                        </div>
                                                        <div class="col-6">
                                                            <label class="form-label"
                                                                   style="font-size: 16px;font-weight: bold;">Повторити
                                                                пароль</label>
                                                            <input type="password" class="form-control" placeholder=""
                                                                   style="width: 200px;" name="repeatPassword">
                                                        </div>
                                                        <div class="alert alert-danger mt-2" role="alert"
                                                             style="width: 500px;margin-left: 15px"
                                                             th:if="${errorSimilarities}"
                                                             th:text="${errorSimilarities}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-end">
                                            <a th:href="@{/requests}" type="submit"
                                               class="btn btn-github m-2">Відміна</a>
                                            <button type="submit" class="btn btn-success m-2">Добавити</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Content wrapper -->
        </div>
        <!--/ Layout page -->
    </div>
    <!--/ Layout container -->
</div>
<!--/ Layout wrapper -->

<script src="/vuexy/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/vuexy/assets/vendor/js/menu.js"></script>
<script src="/vuexy/assets/js/main.js"></script>
</body>
</html>